﻿@import '../Global/theme/_colors.scss';

#shell {
	.navbar {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 5;
		background-color: $app-navbar-background-color;
		color: $app-navbar-color;
		font-weight: bold;
		background-repeat: repeat;
		/*box-shadow: inset 0px -11px 15px -9px rgba(0,0,0,0.75);*/
		box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);

		a {
			color: $app-navbar-color;

			&:hover {
				color: $app-navbar-hover-color;
			}
		}

		padding: 0 20px;
		height: 51px;
		font-family: Verdana, sans-serif;
		border-radius: 0;
		margin-bottom: 0;
		border: none;
	}

	.navbar-header {
		float: left;
		padding: 0 10px 0 0;
		margin-top: 19px;
	}

	.navbar-brand {
		display: inline-block;
		height: 19px;
		padding: 0;
		font-size: 16px;

		.fa {
			margin-right: 10px;
			margin-top: 3px;
			float: left;
		}

		.logo {
			background-image: url('/Images/logo/text.png');
			width: 185px;
			height: 19px;
			display: inline-block;
		}
	}

	.navbar-beta {
		display: inline-block;
		margin-left: 10px;
		color: #dedede;
		padding-top: 7px;
		font-size: 12px;
	}

	.navbar-right {
		float: right;
	}

	.navbar-toggle {
		display: none;
	}

	.loader {
		list-style-type: none;
		padding: 0;
		margin: 17px 15px 0 0;
		float: left;
		display: none;

		&.active {
			display: block;
		}
	}

	.links {
		margin: 0;
		padding: 0;
		font-size: 13px;
		margin-top: 19px;

		li {
			display: inline-block;
			border-right: 1px #DDD solid;
			padding: 0 5px 0 2px;

			&:last-child {
				border: none;
			}

			&.active a {
				text-shadow: 0 0 2px #FFFFFF;
			}
		}
	}

	.account {
		margin-left: 20px;
		font-size: 13px;
		margin-top: 19px;
	}

	.page-host {
		margin: 71px 20px 20px 20px;
	}
}
