﻿<div id="shell">
	<nav class="navbar" role="navigation">
		<div class="navbar-header">
			<div class="navbar-brand">
				<span class="h3">Mr Chatter</span>
			</div>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="account navbar-right" data-bind="if: name">
				<span class="user-name" data-bind="text: name"></span>
			</div>

			<ul class="loader navbar-right" data-bind="css: { active: loading }">
				<li>
					<i class="fa fa-spinner fa-pulse fa-lg"></i>
				</li>
			</ul>
		</div>
	</nav>

	<div class="page-host" data-bind="router"></div>
</div>