﻿@import 'theme/_colors.scss';

.action-button, .dead-sea-spa a.action-button {
	padding: 10px 15px;
	background-color: $action-button-background-color;
	color: $action-button-color;
	font-weight: bold;
	font-size: 13px;
	transition: background-color linear 0.2s;
	cursor: pointer;
	border-radius: 3px;
	border: none;
	display: inline-block;

	&:hover {
		background-color: $action-button-hover-background-color;
		text-decoration: none;
	}

	&:active {
		background-color: $action-button-active-background-color;
	}

	&.disabled, &.disabled:hover {
		color: $action-button-disabled-color;
		background-color: $action-button-disabled-background-color;
		cursor: default;
	}

	&.cancel {
		background-color: #999; 
		&:hover { background-color: #888; }
		&:active { background-color: #777; }
	}

}
