﻿@import 'theme/_colors.scss';

.boxxy {
	background-color: $boxxy-background-color;
	border-radius: 3px;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid $boxxy-border-color;
	box-shadow: 3px 3px 4px 2px rgba($boxxy-shadow-color, 0.2);
	display: table;
}
