﻿@import 'theme/_colors.scss';

.dead-sea-spa {
	font-family: Verdana, sans-serif;
	margin: 0;
	color: $content-text-color;
	background-color: $app-background-color;

	a, .link {
		color: $link-color;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}

	h1 {
		color: $h1-color;
	}

	h2 {
		color: $h2-color;
		border-bottom: 1px solid $h2-color;
		font-weight: normal;
		padding-bottom: 5px;
		padding-left: 2px;
	}

	h3 {
		color: $h3-color;
	}

	h4 {
		color: $h4-color;
	}

	h5 {
		color: $h5-color;
	}

	.app-content section {
		padding: 5px 0 0 10px;
	}

	table.dead-sea-spa-table {
		font-size: 12px;

		&, th, td {
			padding: 3px;
			border: 1px solid #ddd;
		}

		th {
			background-color: #f5f5f5;
			color: #222;
			font-weight: normal;
			height: 40px;
			padding: 4px;
			text-align: left;
		}

		td {
			padding-right: 15px;
		}

		tr &:hover {
			background-color: #f7f7f7;
		}
	}

	.splash {
		text-align: center;
		font-size: 36px;
		margin-top: 200px;
		color: #e1e2ee;
		font-weight: bold;
		text-decoration: overline;
		font-style: italic;

		.logo {
			margin: auto;
			background-image: url('/images/logo/logo.png');
			width: 120px;
			height: 120px;
			margin-bottom: 20px;
		}
	}

	.loading {
		opacity: 0.7;
		position: relative;

		&:after {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			content: '';
			cursor: wait;
		}
	}

	.clearfix:after {
		content: "";
		display: table;
		clear: both;
	}

	.dollar:before {
		content: '$';
	}

	.modal-content {
		padding: 20px;
		background-color: #F9F9F9;
		border-radius: 10px;
		border: 1px solid #F0F0F0;
	}

	.frame {
		background-color: $frame-background-color;
		border: $frame-border-color 1px solid;
		padding: 25px;
		border-radius: 3px;
	}
}
