﻿
/*************************************************************************/
/* For this file only, DO NOT use these variables from other SCSS files! */
/*************************************************************************/

// http://paletton.com/#uid=a40401k00de03n-00ip03772l0Ak00nm00++03vF00fJ0e4Q


$color-primary-0: #4A4A4A;	// Main Primary color */
$color-primary-1: #838383;
$color-primary-2: #666666;
$color-primary-3: #282828;
$color-primary-4: #030303;

$color-complement-0: #828282;	// Main Complement color */
$color-complement-1: #FFFFFF;
$color-complement-2: #B0B0B0;
$color-complement-3: #585858;
$color-complement-4: #1B1B1B;

$color-min: #000;
$color-max: #FFF;

/*************************************************************************/
/*************************************************************************/
/*************************************************************************/

// Background
$app-background-color: $color-complement-1;

// Navbar
$app-navbar-color: $color-complement-1;
$app-navbar-hover-color: $color-max;
$app-navbar-background-color: $color-primary-4;

// App menu
$app-menu-color: $color-complement-1;
$app-menu-background-color: $color-complement-3;
$app-menu-item-background-color: $app-menu-background-color;
$app-menu-item-hover-background-color: $color-complement-0;
$app-menu-item-active-background-color: $color-complement-2;

// Content
$content-text-color: $color-min;
$h1-color: $color-primary-4;
$h2-color: $color-primary-4;
$h3-color: $color-primary-4;
$h4-color: $color-primary-4;
$h5-color: $color-primary-4;
$link-color: $color-primary-2;
$soft-separator-color: $color-complement-2;

//buttons
$action-button-color: $color-max;
$action-button-background-color: $color-primary-3;
$action-button-hover-background-color: $color-primary-0;
$action-button-active-background-color: $color-primary-2;

$action-button-disabled-color: $color-primary-1;
$action-button-disabled-background-color: $color-primary-2;


//frame
$frame-background-color: $color-max;
$frame-border-color: $color-primary-1;

//boxxy
$boxxy-background-color: $frame-background-color;
$boxxy-border-color: $color-primary-1;
$boxxy-shadow-color: $color-primary-3;
