﻿<div id="app-shell">
	<div data-bind="visible: !switcher.displayAlternative()"> 

		<div class="app-content" data-bind="router">
		</div>
	</div>
	
	<div data-bind="visible: switcher.displayAlternative(), compose: switcher.alternativeAppShell()">
	</div>
</div>