﻿@import '../Global/theme/_colors.scss';

#app-shell {

	.app-link {
		font-size: 14px;
		color: $app-menu-color;
		margin: 1px 5px;
		background-color: $app-menu-item-background-color;
		font-weight: normal;
		padding: 15px 5px 15px 10px;
		display: block;

		&.active, &:active {
			background-color: $app-menu-item-active-background-color;
		}

		&:hover {
			background-color: $app-menu-item-hover-background-color;
		}

		.fa {
			margin-right: 5px;
		}

		.fa-binoculars {
			color: #4fa84b;
		}

		.fa-star {
			color: #f7d415;
		}

		.fa-flag-checkered {
			color: #f64313;
		}

		.fa-cube {
			color: #f86c6c;
		}

		.fa-question-circle {
			color: #73adf5;
		}

		.fa-info {
			color: #bc73f5;
		}
	}
}
