﻿<div id="mainboard" class="mainboard">
	<div class="modal-body row">
		<div class="col-md-6" data-bind="compose: chatModel"> </div>
		<div class="col-md-6" data-bind="compose: statisticsModal"></div>
	</div>
</div>