﻿@using Ludvig.Utilities.Formatting
@using Ludvig.Web.UI.Infrastructure.Bunduru
@model Ludvig.Web.UI.Reaper.Spa.Spa

@{ Layout = null; }

<html>
<head>
	<title></title>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="icon" type="image/png" href="/Images/favicon.png" />

	@Bunduru.GetStyleSheetTag("lib")
	@Bunduru.GetAllStyleSheetTag()

	<script type="text/javascript">
		if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
			var msViewportStyle = document.createElement("style");
			var mq = "@@-ms-viewport{width:auto!important}";
			msViewportStyle.appendChild(document.createTextNode(mq));
			document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
		}
	</script>
	<script type="text/javascript">
		var spaSiteMode = @Html.Raw(@Model.ClientModel.ToJsonString());
	</script>
</head>
<body class="dead-sea-spa">
	<div id="applicationHost">
		<div class="splash">
			<div class="logo">
			</div>
			<i class="fa fa-spinner fa-spin"></i>
		</div>
	</div>
	<div data-main="spa/main"></div>
	@Bunduru.GetScriptTag("lib")
	@Bunduru.GetScriptTag("all")
	@Bunduru.GetHtmlTemplates("all")
</body>
</html>