﻿@using Ludvig.Web.UI.Infrastructure.Bunduru
@{ Layout = null; }

<html>
<head>
	<title>MR Chatty</title>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="icon" type="image/png" href="/Images/favicon.png" />

	@Bunduru.GetStyleSheetTag("lib")
	@Bunduru.GetStyleSheetTag("hello")
</head>
<body>
	<div id="fullscreen_bg" class="fullscreen_bg" />

	<div class="container">

		<div class="form-signin">
			<h1 class="form-signin-heading text-muted">Sign In</h1>
			<input id="user-name" type="text" class="form-control" placeholder="User Name" required="" autofocus="">
			<button id="sign-in-btn" class="btn btn-lg btn-primary btn-block">
				Sign In
			</button>
		</div>
		<div class="errors"> </div>
	</div>
	@Bunduru.GetScriptTag("lib")
	@Bunduru.GetScriptTag("hello")
</body>

</html>