﻿<li iclass="chat-line clearfix" data-bind="css: direction, attr:{id: id }">
	<span class="chat-img" data-bind="css: imageDirection">
		<img alt="User Avatar" class="img-circle" data-bind="attr: { src: image }" />
	</span>
	<div class="chat-body clearfix">
		<div class="header">
			<strong class="primary-font" data-bind="text: userName, css:imageDirection"></strong>
		</div>
		<p data-bind="text: message">
		</p>
	</div>
</li>
