﻿<div id="chat" class="chat">
	<div class="row form-group">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-comment"></span> Comments

				</div>
				<div class="panel-body body-panel">
					<ul class="chat1" data-bind="foreach: messages">

						<!-- ko compose: $data-->
						<!-- /ko -->
					</ul>
				</div>
				<div class="panel-footer clearfix">
					<textarea class="form-control" data-bind="value: textMessage, attr: { disabled: disableSendButton() }"></textarea>
					<span class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12" style="margin-top: 10px">
						<button class="btn btn-warning btn-lg btn-block" id="btn-chat" data-bind="click: postNewMassage, css: { disabled: disableSendButton() }">Send</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>