﻿<div class="statistics">
	
	<!-- ko if: avrageMessageTime -->
	<div><span>Avrage Time Between Messages:</span><span data-bind="text:avrageMessageTime"></span></div>
	<hr />
	<!-- /ko -->

	<!-- ko if: avrageMessageLength -->
	<div><span>Avrage Message Length:</span><span data-bind="text: avrageMessageLength"></span></div>
	<hr />
	<!-- /ko -->
	
	<!-- ko if: usersMessagesStats().length > 0 -->
	<ul data-bind="foreach: usersMessagesStats">
		<li><span class="user-name" data-bind="text:userName"></span><span data-bind="text: avrageMessageLength"></span></li>
	</ul>
	<!-- /ko -->


</div>