﻿<div id="error-page">
	<div class="clearfix">
		<div class="icon fa fa-times-circle-o fa-5x"></div>
		<div class="info">
			<h1 data-bind="text: is404 ? 'Page Not Found' : 'Oh no!'"></h1>
			<p data-bind="visible: !is404">An unexpected error has occured. We're really sorry about this.</p>
			<p>We hope this video of baby sloths in a bucket will cheer you up.</p>
		</div>
	</div>
	<iframe src="https://player.vimeo.com/video/59234110?autoplay=1&loop=1&background=1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>