﻿#error-page {
	padding-top: 20px;
	.icon  { float: left; padding-top: 15px; color: #9d1515; width: 100px; }
	.info { float: left; }
	h1 { color: #9d1515; }
	p { font-size: 16px; }
	iframe { margin-top: 30px; }
}